<ng-container *ngIf="!loading">
  <ng-container *ngIf="announcements.length > 0; else notFound">
    <div class="announcements-container">
      <ng-container *ngFor="let item of announcements">
        <app-catalog-card
          [announcement]="item"
          (onFavoriteChanged)="changeFavorite($event)">
        </app-catalog-card>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #notFound>
    <div class="announcement-not-found">
      <fa-icon class="announcement-not-found__icon" [icon]="pawIcon"></fa-icon>
      <div class="announcement-not-found__title">
        Not Found
      </div>
      <div class="announcement-not-found__subtitle">
        You don't have announcements yet.
      </div>
    </div>
  </ng-template>
</ng-container>
