<dx-load-panel
  [position]="{ of: '#announcements' }"
  [(visible)]="loading"
  [showIndicator]="true"
  [hideOnOutsideClick]="false"
>
</dx-load-panel>
<app-filter-panel (onReload)="reload($event)"></app-filter-panel>
<ng-container *ngIf="!loading">
  <ng-container *ngIf="announcements.length > 0; else notFound" id="announcements">
    <div class="announcements-container">
      <ng-container *ngFor="let item of announcements">
        <app-catalog-card
          [announcement]="item"
          (onFavoriteChanged)="changeFavorite($event)">
        </app-catalog-card>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #notFound>
    <div class="announcement-not-found">
      <fa-icon class="announcement-not-found__icon" [icon]="pawIcon"></fa-icon>
      <div class="announcement-not-found__title">
        Not Found
      </div>
      <div class="announcement-not-found__subtitle">
        Sorry, the keyword you entered cannot be found, please check again or search with another keyword.
      </div>
    </div>
  </ng-template>
</ng-container>